 
 <h1 class="title-entity">Educación</h1>
 <br>
 <div *ngFor="let education of educations">
  <p>
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapse{{education.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
     {{education.degree}}
    </a>
  </p>
  <div class="collapse" id=collapse{{education.id}}>
    <div class="card mb-3 card-style" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{education.logo}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{education.establishment}}</h5>
            <p class="card-text">{{education.description}}</p>
          </div>
        </div>
      </div>
    </div>
   </div>
 
