.logo{
    font-family: 'Abril Fatface', cursive;
    color: rgb(0, 0, 0);
    text-shadow: -1px 1px 0 rgba(76, 179, 107, 0.946);
    font-size: 50px;
}

.nav-item{
    margin-top: 10px;
}

.selected-link {
    color: white;
    text-shadow: 0px 1px 0 black;
  
    background: linear-gradient(to right, rgb(194, 228, 212) 0%, lightgreen 60%,green 100%);
    font-size: 30px;
 
  }