
<h1 class="logo">Guido</h1>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link"
        routerLink=""
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="experiencia"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="educacion"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Educacion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
        routerLink="cursos"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
        routerLink="tecnologias"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Tecnologias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
        routerLink="habilidades"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Habilidades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
        routerLink="contacto"
        [routerLinkActive]="['selected-link']"
        [routerLinkActiveOptions]="{ exact: true }">Contacto</a>
    </li>
  </ul>