<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Educacion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Cursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tecnologias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Habilidades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>