<div *ngIf="showForm; else precarga">

    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div>
      <label>Degree</label>
      <input type="text" formControlName="degree">

    </div>
  
    <div>
      <label>Description</label>
      <textarea type="text" formControlName="description"></textarea>

    </div>
  
    <div>
      <label>Establishment</label>
      <input type="text" formControlName="establishment">

    </div>
  
    <div>
      <label>Logo</label>
      <input type="text" formControlName="logo">
    </div>

    <div>
      <label>id perfil</label>
      <input type="text" formControlName="idProfile">
    </div>
  
    <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </form>
    </div>

<ng-template #precarga>

---------Cargando----------

</ng-template>
